<div class="container-fluid">
  <form action="" >
    <div class="row">
      <div class="col-4">
        <select class="form-select" (change)="chooseType($event)">
          <option selected value="default">Open this select menu</option>
          <option value="{{inp.value}}" *ngFor="let inp of inpTypesDDL">{{inp.name}}</option>
        </select>      
      </div>
      <div class="col-4">
        <input class="form-control" type="text" placeholder="NameAr" >
      </div>
      <div class="col-4">
        <input class="form-control" type="text" placeholder="NameEn" >
      </div>
      <div class="col-12">
        <label for="" class="form-label">Constraints</label>
      </div>
      <!-- input Required -->
      <div class="col-3">
        <div class="form-check">
          <input class="form-check-input" [disabled]="disableRequired" type="checkbox" value="" id="required">
          <label class="form-check-label" for="required">
            Required
          </label>
        </div>
      </div>
      <!-- input Maxlength -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox || isTextArea">
        <div class="form-group mx-4">
          <label class="form-check-label" for="maxlength">
            Max length
          </label>
          <input class="form-control w-50" type="text" placeholder="500">
        </div>
      </div>
      <!-- input Placeholder -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox || isTextArea || isDDL">
        <div class="form-group mx-4">
          <label class="form-check-label" for="Placeholder">
            PlaceholderAr
          </label>
          <input class="form-control w-50" type="text" placeholder="PlaceholderAr">
        </div>
      </div>
      <!-- input Placeholder -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox || isTextArea || isDDL">
        <div class="form-group mx-4">
          <label class="form-check-label" for="Placeholder">
            PlaceholderEn
          </label>
          <input class="form-control w-50" type="text" placeholder="PlaceholderEn">
        </div>
      </div>
      <!-- input Value -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox || isTextArea">
        <div class="form-group mx-4">
          <label class="form-check-label" for="inputValue">
            Value
          </label>
          <input class="form-control w-50" type="text" placeholder="500">
        </div>
      </div>
      <!-- input Type -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox">
        <div class="form-group mx-4">
          <label class="form-check-label" for="inputType">
            Type
          </label>
          <input class="form-control w-50" type="text" placeholder="type">
        </div>
      </div>
      <!-- input Name -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextBox || isTextArea || isAttachment">
        <div class="form-group mx-4">
          <label class="form-check-label" for="inputName">
            Name
          </label>
          <input class="form-control w-50" type="text" placeholder="name">
        </div>
      </div>
      <!-- TextArea Row -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isTextArea">
        <div class="form-group mx-4">
          <label class="form-check-label" for="textareaRow">
            Row
          </label>
          <input class="form-control w-50" type="text" placeholder="Row size">
        </div>
      </div>
      <!-- Attachment -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isAttachment">
        <div class="form-group mx-4">
          <label class="form-check-label" for="attachSize">
            Max Size
          </label>
          <input class="form-control w-50" type="text" placeholder="2000">
        </div>
      </div>
      <!-- Searchable DDL -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isDDL">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="searchableDDL">
          <label class="form-check-label" for="searchableDDL">
           Searchable
          </label>
        </div>
      </div>
      <!-- Searchable DDL -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isDDL">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="multiSelectDDL">
          <label class="form-check-label" for="multiSelectDDL">
            Multi Select
          </label>
        </div>
      </div>
      <!-- MultiSelect DDL -->
      <div class="col-3 d-flex align-items-center mb-3" *ngIf="isDDL">
        <label class="form-label" for="">
          For:
        </label>
        <div class="form-check form-check-inline mx-3">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="fieldRadio" value="option1">
          <label class="form-check-label" for="fieldRadio">Fields</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="subFieldRadio" value="option2">
          <label class="form-check-label" for="subFieldRadio">subFields</label>
        </div>
      </div>

      <div class="col-12 mt-5">
        <button class="btn btn-primary" (click)="getValues()"> Add </button>
      </div>
    </div>
  </form>
</div>
<hr>
